@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions;
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model FrontEndAAUH.Models.Patient

<head>
    <link rel="stylesheet" href="~/css/UserProfile.css" type="text/css" />
</head>

@{
    ViewData["Title"] = "Profile";
    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;
    int questionsCount = 0;
    foreach (var questionnaire in Model.questionnaires) {
        foreach (var question in questionnaire.questions) {
            questionsCount++;
        }
    }
}

<!--TODO: Fjern '!' så man faktisk skal være logget ind-->
@if (!SignInManager.IsSignedIn(User)) {
    @if (!User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("ClinicProfessional") || Model.email.Equals(email)) {
        <div class="patient">
            <div class="info">
                <label class="infoLabels">Fulde navn: @Model.firstName @Model.lastName </label>
                <label class="infoLabels">Telefon nummer: @Model.phoneNo</label>
                <label class="infoLabels">Patient nummer: @Model.patientNo</label>
                <label class="infoLabels">Email: @Model.email</label>
                <label class="infoLabels">Addresse: @Model.address.street @Model.address.houseNo, @Model.address.zip @Model.address.city</label>
                <label class="infoLabels">Fødselsdag: @Model.dateOfBirth.ToShortDateString()</label>
            </div>
            <div class="profilBillede">
                <img src="~/css/placeholder_man.jpg" />
            </div>
            @if (!User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("ClinicProfessional")) {
                <div class="flags">
                    <p>FLAGS</p>
                </div>
            }
        </div>
        int questionNumber = 0;
        @using (Html.BeginForm("Submit", "User")) {
            @foreach (var questionnaire in Model.questionnaires) {
                <div class="questionnaire">
                    <h1>@Html.DisplayFor(qn => questionnaire.title)</h1>
                    @foreach (var question in questionnaire.questions) {
                        string dataGroup = $"fieldset_group_{questionNumber}";
                        <fieldset>
                            <legend>@Html.DisplayFor(description => question.questionDescription)</legend>
                            @foreach (var answer in question.answers) {
                                string inputName = $"question_{questionNumber}";
                                <input type="radio" name="@inputName" id="@questionNumber" value="@answer.answerText" />
                                <label for="@answer.answerText"> @answer.answerText</label>
                                <br />
                            }
                        </fieldset>
                        questionNumber++;
                    }
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                </div>
            }
            <input type="hidden" asp-for="firstName" value="@Model.firstName" />
            <input type="hidden" asp-for="lastName" , value="@Model.lastName" />
            <input type="hidden" asp-for="phoneNo" , value="@Model.phoneNo" />
            <input type="hidden" asp-for="patientNo" , value="@Model.patientNo" />
            <input type="hidden" asp-for="email" , value="@Model.email" />
            <input type="hidden" asp-for="address.street" , value="@Model.address.street" />
            <input type="hidden" asp-for="address.houseNo" , value="@Model.address.houseNo" />
            <input type="hidden" asp-for="address.zip" , value="@Model.address.zip" />
            <input type="hidden" asp-for="address.city" , value="@Model.address.city" />
            <input type="hidden" asp-for="dateOfBirth" , value="@Model.dateOfBirth" />
            <input type="hidden" asp-for="cpr" , value="@Model.cpr" />
            <input type="hidden" asp-for="questionnaires" , value="@Model.questionnaires" />

            @for (int i = 0; i<Model.questionnaires.Count; i++) {
                @Html.HiddenFor(model => model.questionnaires[i])
            }
        }
    }
}
else {
    <label class="noAccessError">Adgang Nægtet til dette data</label>
}


@section Scripts {
    <script>
        function Calculate() {
            console.log("hej");
            //debugger; //TODO: Remove lol
            for(let i = 0; i<@questionsCount; i++){
                var currField = document.getElementsByName('question_'+i);
                for (let x = 0; x < currField.length; x++) {
                    if (currField[x].type === "radio" && currField[x].checked) {
                        console.log(currField[x].value + " count: " + x);
                    }
                }
            }
        }
    </script>
}
