﻿@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions;
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model FrontEndAAUH.Models.Patient


<head>
    <link rel="stylesheet" href="~/css/UserProfile.css" type="text/css" />
</head>

@{
    ViewData["Title"] = "Profile";
    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;
    int questionsCount = 0;
    foreach (var questionnaire in Model.questionnaires) {
        foreach (var question in questionnaire.questions) {
            questionsCount++;
        }
    }
}

<!--TODO: Fjern '!' så man faktisk skal være logget ind-->
@if (!SignInManager.IsSignedIn(User)) {
    @if (!User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("ClinicProfessional") || Model.email.Equals(email)) {
        <div class="patient">
            <div class="info">
                <label class="infoLabels">Fulde navn: @Model.firstName @Model.lastName </label>
                <label class="infoLabels">Telefon nummer: @Model.phoneNo</label>
                <label class="infoLabels">Patient nummer: @Model.patientNo</label>
                <label class="infoLabels">Email: @Model.email</label>
                <label class="infoLabels">Addresse: @Model.address.street @Model.address.houseNo, @Model.address.zip @Model.address.city</label>
                <label class="infoLabels">Fødselsdag: @Model.dateOfBirth.ToShortDateString()</label>
            </div>
            <div class="profilBillede">
                <img src="~/css/placeholder_man.jpg" />
            </div>
            @if (!User.IsInRole("Admin") || User.IsInRole("Secretary") || User.IsInRole("ClinicProfessional")) {
                <div class="flags">
                    <p>FLAGS</p>
                </div>

                <div class="userProfileButtons">
                    <a href="/User/EditUserQuestionnaire/@Model.patientNo">
                        <button type="button">Rediger Spørgeskemaer</button>
                    </a>
                    <a href="/User/EditUserCustomQuestions/@Model.patientNo">
                        <button type="button">Rediger Spørgsmål</button>
                    </a>

                </div>
            
            
            }
        </div>

        @using (Html.BeginForm("Submit", "User")) {
            @for (int qn = 0; qn < Model.questionnaires.Count; qn++) {
                <div class="questionnaire">
                @for (int q = 0; q < Model.questionnaires[qn].questions.Count; q++) {
                    <fieldset>
                        <legend>@Html.DisplayFor(qDesc => Model.questionnaires[qn].questions[q].questionDescription)</legend>
                        @for (int a = 0; a < Model.questionnaires[qn].questions[q].answers.Count; a++) {
                            <input type="radio" asp-for="@Model.questionnaires[qn].questions[q].chosenAnswerIndex" value="@a" />

                            @Model.questionnaires[qn].questions[q].answers[a].answerText;

                            @Html.HiddenFor(m => Model.questionnaires[qn].questions[q].answers[a].answerValue);
                            @Html.HiddenFor(m => Model.questionnaires[qn].questions[q].answers[a].id);
                            @Html.HiddenFor(m => Model.questionnaires[qn].questions[q].answers[a].answerText);
                            <br />
                        }
                    </fieldset>
                    @Html.HiddenFor(m => m.questionnaires[qn].questions[q].questionDescription)
                }
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                </div>
            @Html.HiddenFor(m => m.questionnaires[qn].flags)
            }

        @Html.HiddenFor(m => Model.firstName);
        @Html.HiddenFor(m => Model.lastName);
        @Html.HiddenFor(m => Model.phoneNo);
        @Html.HiddenFor(m => Model.patientNo);
        @Html.HiddenFor(m => Model.email);
        @Html.HiddenFor(m => Model.address.street);
        @Html.HiddenFor(m => Model.address.houseNo);
        @Html.HiddenFor(m => Model.address.zip);
        @Html.HiddenFor(m => Model.address.city);
        @Html.HiddenFor(m => Model.dateOfBirth);
        @Html.HiddenFor(m => Model.cpr);
    }
}



    
} else {
    <label class="noAccessError">Adgang Nægtet til dette data</label>
}